.club-list-section {
    padding: 50px 0;
    background-color: #ecf0f1;
}

.main_first-section {
    height: 50vh !important;
}

.club-list {
    list-style: none;
    padding: 0;
}

.club-list-item {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.club-list-item h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.club-list-item p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 15px;
}

.club-list-item .cta-button {
    background-color: #2D2753;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
}

.club-list-item .cta-button:hover {
    background-color: #514796;
}
